
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cheap Store</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/font/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet">
  <link rel="stylesheet" href="css/custom.css">
  <link href="https://fonts.googleapis.com/css?family=Saira+Condensed:300,400,500,600,700,900" rel="stylesheet">  
</head>
<body>
        

<section class="invoice"> 
  <div class="container">
    <div class="row">
     <div class="col-sm-4 col-sm-offset-2">
      <p class="invoice_bottom_margin"><img src="image/logo.png" alt="" /></p>
     </div>
     <div class="col-sm-4">
        <h2>SERVICE<br> INVOICE</h2>
     </div>
    </div>
    
	<div class="row">
     <div class="col-sm-4 col-sm-offset-2">
       <p class="invoice_bottom_margin">Cheap Store</p>
       <p class="invoice_bottom_margin">Royal Park Campus No emergency care, 34-54 Poplar Rd, Parkville VIC 3052, Australia.</p>
       <p class="invoice_bottom_margin">Email: <a href="#">info@cheapstore.com</a></p>
       <p class="invoice_bottom_margin">Phone: 03 9580 3411</p>
       <div class="panel panel-info invoive_panel">
          <div class="panel-heading">DELIVERY ADDRESS</div>
          <div class="panel-body">
           <p>Ankur Varma</p>
           <p>Binary Frog</p>
            <p>Royal Park Campus No emergency care, 34-54 Poplar Rd, Parkville VIC 3052, Australia.</p>
            <p>Phone: 03 9580 3411</p>
          </div>
       </div>
     </div>
     <div class="col-sm-4">
        <div class="table-responsive">
         <table class="table invoice-table">
            <thead>
              <tr>
                <th>Invoice No</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>100001</td>
                <td>17-05-2017</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
         <table class="table invoice-table ">
            <thead>
              <tr>
                <th>Customer Id</th>
                <th>Terms</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>A246</td>
                <td>Net 30 Days</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div class="panel panel-info invoive_panel">
          <div class="panel-heading">BILLING ADDRESS</div>
          <div class="panel-body">
           <p>Ankur Varma</p>
           <p>Binary Frog</p>
            <p>Royal Park Campus No emergency care, 34-54 Poplar Rd, Parkville VIC 3052, Australia.</p>
            <p>Phone: 03 9580 3411</p>
          </div>
         </div>
     </div>
     
     <div class="col-sm-8 col-sm-offset-2">
       <div class="table-responsive">
         <table class="table table-bordered invoice-table">
            <thead>
              <tr>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price Per Unit</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Brown Onion</td>
                <td>2kg</td>
                <td>50.00</td>
                <td>100.00</td>
              </tr>
              <tr>
                <td>Organic Pineapple</td>
                <td>7kg</td>
                <td>80.00</td>
                <td>560.00</td>
              </tr>
              <tr>
                <td>Discount</td>
                <td>10%</td>
                <td>-65.00</td>
                <td>-65.00</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>0.00</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>0.00</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>0.00</td>
              </tr>
              <tr>
                <td colspan="2" rowspan="4">
                	<p>&nbsp;</p>
                	<p class="invoice_bottom_margin">Remarks/Instructions:</p>
                  	<p class="invoice_bottom_margin"><i>Please male check payable to</i> Your Company Name.</p>
					<h3>THANK YOU</h3>
                </td>
                <td><strong>SUBTOTAL</strong></td>
                <td>555.00</td>
              </tr>
              <tr>
                <td><strong>TAX(3%)</strong></td>
                <td>16.50</td>
              </tr>
              <tr>
                <td><strong>OTHER</strong></td>
                <td>05.00</td>
              </tr>
              <tr>
                <td><strong>TOTAL</strong></td>
                <td><strong>$576.00</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
        <p class="invoice_bottom_margin"></p>
        <p class="text-center"><i>For questions concerning this invoice, please contact</i></p>
		<p class="invoice_bottom_margin text-center">Raghav Jhaa,  (039)580-3411, <a href="#">info@cheapstore.com</a></p>
		<p class="invoice_bottom_margin text-center"><a href="#">www.cheapstore.com</a></p>
     </div>
    </div>
</div>



</section>
   

          
            
            




</body>





  

</html>
